$color-1 : #fb912a;
$color-2 : #5add70;
$color-3 : #fcb92c;
$color-4 : #ccf5ac;
$color-5 : #0b0500;
$color-6 : #333333;
//$color-7 : #fb9735;

$font-1 : 'Nunito', sans-serif;
$font-2 : 'Lato', sans-serif;
$font-3 : 'VL_Geosans', sans-serif;